<div>
  <h1>Detalles del Producto</h1>
  <a href="#" id="cartLink">
    <i class="bx bx-cart cartIcon"></i>
  </a>
  <h2 class="tituloDetalle">{{product.title}}</h2>
  <div class="productoDetalle">
    <img src="{{product.thumbnail}}" alt="{{product.title}}" />
    <div class="textoDetalle">
      <p><strong>Precio:</strong> ${{product.price}}</p>
      <p><strong>Stock:</strong> {{product.stock}}</p>
      <p><strong>Código:</strong> {{product.code}}</p>
      <p><strong>Categoría:</strong> {{product.category}}</p>
      <p><strong>Descripción:</strong></p>
      <p>{{product.description}}</p>
    </div>
  </div>
  {{#if product.status}}
    <div id="agregarCarritoOk">
      <p>Cantidad:</p>
      <input
        type="number"
        id="quantity"
        name="quantity"
        min="1"
        max="{{product.stock}}"
        value="1"
        class="inputCant"
      />

      <button id="add-to-cart" data-product-id="{{product._id}}">Agregar al
        carrito</button>
    </div>
  {{else}}
    <p class="center">No hay stock disponible</p>
  {{/if}}
  <a href="/" class="center"><button>Volver a la tienda</button></a>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/productDetail.js"></script>