<div>
  <h1>Detalles del Producto</h1>
  <div class="productoDetalle">
    <h2>{{producto.title}}</h2>
    <div class="imagen">
      <img src="{{producto.thumbnail}}" alt="{{producto.title}}" />
    </div>
    <p>Precio: ${{producto.price}}</p>
    <p>Stock: {{producto.stock}}</p>
    <p>Descripción: {{producto.description}}</p>
    <p>Código: {{producto.code}}</p>
    <p>Categoría: {{producto.category}}</p>
  </div>
  <a href="/">Volver a la lista de productos</a>
</div>